/*--------------------------------------------------------------
## Sección HERO 
   ¡INFO! -> el estilo que define el fondo esta en el header
--------------------------------------------------------------*/
.sec-hero {
  height: 828px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.sec-hero .wrap-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* margin-top: 260px; */
  gap: 28px;
}

.sec-hero .txt-hero {
  color: var(--Fondo);
  width: 730px;
}

@media (max-width: 850px) {
  .sec-hero {
    height: 600px;
  }
  .sec-hero .txt-hero {
    width: 473px;
  }
}

@media (max-width: 430px) {
  .sec-hero .wrap-container {
    align-items: center;
  }
  .sec-hero .txt-hero {
    width: 100%;
    text-align: center;
  }
}


/*--------------------------------------------------------------
## Sección Envíos a todo el Perú
--------------------------------------------------------------*/
.sec-envios-scroll {
  overflow: hidden;
  border-top: 1px solid var(--Bordes);
  border-bottom: 1px solid var(--Bordes);
}

.wrapper-envios-scroll {
  padding-block: 25px;
  display: flex;
  gap: 160px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.wrapper-envios-scroll li {
  list-style: none;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 80px));
  }
}

@media (max-width: 850px) {
  .deco {
    opacity: 0;
  }
}

@media (max-width: 430px) {
  .wrapper-envios-scroll {
    gap: 80px;
  }
}

/*--------------------------------------------------------------
## Sección de Cuidamos de ti y el medio ambiente
--------------------------------------------------------------*/
.sec-cuidamos {
  display: flex;
  flex-wrap: wrap;
  padding-block: 160px;
  flex-direction: column;
  row-gap: 160px;
}

.sec-cuidamos .sec-part {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 150px;
  align-items: start;
}

.sec-cuidamos .sec-part .wrapper-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  position: sticky;
  top: 105px;
}

.deco-cafe {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

@media (max-width: 850px) {
  .sec-cuidamos {
    padding-block: 110px;
    row-gap: 110px;
  }
  .sec-cuidamos .sec-part {
    column-gap: 40px;
  }
  .sec-cuidamos .sec-part img {
    width: 302px;
  }
  .sec-cuidamos .sec-part .wrapper-text {
    width: 302px;
  }
}

@media (max-width: 430px) {
  .sec-cuidamos {
    padding-top: 84px;
    padding-bottom: 91px;
  }
  .sec-cuidamos .sec-part {
    flex-wrap: wrap;
    row-gap: 35px;
  }
  .sec-cuidamos .sec-part .wrapper-text {
    position: static;
    order: 1;
    row-gap: 20px;
  }
  .sec-cuidamos .sec-part img {
    width: 100%;
    order: 2;
  }
}

/*--------------------------------------------------------------
## Sección de Categorias
--------------------------------------------------------------*/
.sec-categories {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 160px;
  gap: 90px;
}

.sec-categories .cards {
  display: flex;
  gap: 40px;
}

.sec-categories .cards .card-category {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--Marron-Claro);
  padding: 38px;
}
.sec-categories .cards .card-category img {
  width: 324px;
  height: 324px;
  object-fit: cover;
}
.sec-categories .cards .btn-primary {
  width: 100%;
}

@media (max-width: 850px) {
  .sec-categories {
    padding-top: 102px;
    padding-bottom: 110px;
    row-gap: 52px;
  }
  .sec-categories .cards {
    overflow-x: scroll;
    padding-bottom: 28px;
  }
  .sec-categories .cards .card-category {
    padding: 20px;
    gap: 30px;
  }
  .sec-categories .cards .card-category img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 430px) {
  .sec-categories {
    padding-top: 83px;
    padding-bottom: 89px;
    row-gap: 34px;
  }
}

/*--------------------------------------------------------------
## Sección de Trazabilidad
--------------------------------------------------------------*/
@media (max-width: 850px) {
  .sec-trazabilidad-wrapper {
    padding: 0;
  }
}


/*--------------------------------------------------------------
## Sección de Productos destacados
--------------------------------------------------------------*/
.sec-prod-dest {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 150px;
  padding-bottom: 160px;
  gap: 90px;
}

.sec-prod-dest .cards-products {
  display: grid;
  gap: 40px;
  grid-auto-flow: column;
  justify-content: start;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-bottom: 28px;
  /* Snap wrapper */
  scroll-snap-type: inline mandatory;
}

.sec-prod-dest .deco-cafe-3 {
  position: absolute;
  top: 0;
  width: 475px;
  right: 80px;
}

@media(max-width: 850px) {
  .sec-prod-dest {
    padding-top: 102px;
    padding-bottom: 192px;
    row-gap: 52px;
  }
  .divider-prod-desc-reviews {
    display: none;
  }
}

@media(max-width: 430px) {
  .sec-prod-dest {
    padding-top: 87px;
    padding-bottom: 143px;
    row-gap: 34px;
  }
}


/*--------------------------------------------------------------
## Sección de Reviews de clientes
--------------------------------------------------------------*/
.sec-reviews {
  padding-block: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 89px;
}

.sec-reviews .reviews {
  display: grid;
  grid-auto-flow: column;
  column-gap: 40px;
  width: 1060px;
}

.reviews .review {
  display: grid;
  row-gap: 20px;
}

.reviews .review>div {
  display: grid;
  gap: 18px;
  padding: 45px 50px;
  z-index: 1;
  /* style */
  background-color: var(--Marron-Claro);
  border-radius: 10px 10px 10px 0;
}

.deco-cafe4 {
  position: absolute;
  width: 526px;
  bottom: 0px;
  right: 0px;
}

@media (max-width: 850px) {
  .sec-reviews {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sec-reviews .reviews {
    width: 100%;
  }
  .divider-reviews-cta {
    display: none;
  }
}

@media (max-width: 430px) {
  .sec-reviews {
    row-gap: 34px;
  }
  .sec-reviews .reviews {
    grid-auto-flow: row;
    row-gap: 38px;
  }
  .sec-reviews .reviews .review img {
    width: 50px;
    height: 50px;
  }
}


/*--------------------------------------------------------------
## Sección de CTA
--------------------------------------------------------------*/
@media (max-width: 850px) {
  .sec-cta-wrapper {
    padding: 0;
  }
}
