@media (max-width: 850px) {
  hr {
    display: none;
  }
}

/*--------------------------------------------------------------
## Sección Hero del producto
--------------------------------------------------------------*/
.sec-hero-product {
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.hidden-infocard-header {
  display: none;
}
.hidden-infocard-header h1 {  
  text-align: center;
}

.izq-image {
  width: 100%;
}
.izq-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.der-details {
  background-color: var(--Fondo-Banner);
  color: var(--Fondo);
}

.der-details .infocard-header {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 36px 48px;
  border-bottom: 1px solid var(--Bordes-Marcados, #AFAFAF);
}

.der-details .product-price bdi,
.der-details .product-price bdi span {
  color: var(--Bordes, #C7C7C7);
  font-family: Fahkwang;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.der-details .infocard-body {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 45px 48px;
}

.der-details .minicards {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: space-between;
}
.der-details .minicards .minicard {
  display: flex;
  width: 120px;
  padding: 15px 0px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  
  border-radius: 3px;
  background-color: #353535;
}
.der-details .minicards .minicard > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* justify-content: center; */
  align-items: center;
}
.der-details .minicards .minicard > div .minicard-label {
  color: var(--Bordes, #C7C7C7);
}
.der-details .minicards .minicard > div .minicard-value {
  font-weight: 700;
  text-transform: uppercase;
}
.der-details .info-rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}
.der-details .info-rows .row {
  display: flex;
  align-items: center;
  gap: 70px;
}
.der-details .info-rows .row .desktop-parrafo-bold {
  color: var(--Fondo);
  display: inline-block;
  width: 135px;
}
.der-details .info-rows .product-quantity-box {
  background-color: var(--Fondo);
  display: flex;
  width: 120px;
  height: 50px;
  /* padding: 0 10px; */
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
}
.der-details .info-rows .product-quantity-box input {
  width: 50px;
  height: 100%;
  text-align: center;
  background-color: var(--Fondo);
  outline: none;
  border: none;
}

.der-details .info-rows .product-quantity-box > div {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}


@media (max-width: 850px) {
  .sec-hero-product {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .hidden-infocard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 7px;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--Bordes, #C7C7C7);
  }
  .izq-image {
    width: 473px;
  }
  .der-details {
    width: 100%;
  }
  .der-details .infocard-header {
    display: none;
  }
  .der-details .infocard-body {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 45px 59px;
  }
}

@media (max-width: 430px) {
  .sec-hero-product {
    padding-top: 87px;
    row-gap: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .wrap-aux {
    margin-left: 20px;
    margin-right: 20px;
  }
  .der-details .infocard-body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .der-details .infocard-body .minicard svg{
    width: 40px;
    height: 40px;
  }
  .der-details .infocard-body .minicard .minicard-label {
    font-size: 10px;
  }
  .der-details .infocard-body .minicard .minicard-value {
    font-size: 13px;
  }
}


/*--------------------------------------------------------------
## Sección Descripción del Producto
--------------------------------------------------------------*/
.sec-prod-desc {
  max-width: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 149px;
  padding-bottom: 155px;
}
.sec-prod-desc p {
  text-align: center;
}

@media (max-width: 850px) {
  .sec-prod-desc {
    padding-top: 192px;
    padding-bottom: 195px;
  }
}
@media (max-width: 430px) {
  .sec-prod-desc {
    padding-top: 145px;
    padding-bottom: 145px;
    gap: 19px;
  }
}


/*--------------------------------------------------------------
## Sección Trazabilidad
--------------------------------------------------------------*/
.sec-trazabilidad {
  padding-top: 160px;
}
@media (max-width: 850px) {
  .sec-trazabilidad {
    padding: 0px;
  }
}

/*--------------------------------------------------------------
## Sección Preguntas frecuentes
--------------------------------------------------------------*/
@media (max-width: 850px) {
  .wrap-container .detail-product-faqs {
    padding-block: 192px; 
    gap: 52px;
  }
}
@media (max-width: 430px) {
  .wrap-container .detail-product-faqs {
    padding-block: 144px; 
    gap: 30px;
  }
}


/*--------------------------------------------------------------
## Sección Productos Relacionados
--------------------------------------------------------------*/
.sec-prod-relacionados {
  display: flex;
  gap: 89px;
  flex-direction: column;
  padding-top: 149px;
}

.related-products {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .sec-prod-relacionados {
    padding-top: 0px;
    gap: 52px;
  }
  .related-products {
    overflow-x: scroll;
    column-gap: 40px;
    padding-bottom: 28px;
  }
}

@media (max-width: 430px) {
  .sec-prod-relacionados {
    gap: 34px;
  }
}
