/*--------------------------------------------------------------
## Sección Hero de la categoria
--------------------------------------------------------------*/
.sec-cat-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 160px;
}

.sec-body {
  display: flex;
  gap: 72px;
}

@media (max-width: 850px) {
  .sec-cat-hero {
    padding-top: 60px;
    padding-bottom: 110px;
  }
}

/*--------------------------------------------------------------
## Sección para filtros en moviles
--------------------------------------------------------------*/
.sec-filter-mobile {
  display: none;
}

.sec-filter-mobile .filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid var(--Bordes, #C7C7C7);
}

@media (max-width: 850px) {
  .sec-filter-mobile {
    display: flex;
    justify-content: space-between;
  }
}

/*--------------------------------------------------------------
## Sección sidebar para filtros
--------------------------------------------------------------*/
.sec-body .sidebar {
  width: 258px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.sec-body .sidebar > div {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.opciones {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.custom-check {
  position: relative;
  width: 24px;
  height: 24px;
  background: var(--Fondo);
  border: 1px solid var(--Texto-Secundario);
  border-radius: 1px;
  cursor: pointer;
}

.custom-check input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.custom-check .icon-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: none;
}

.custom-check.checked {
  background-color: var(--Amarillo-Golden);
}
.custom-check.checked .icon-check {
  display: block;
}

.filter-category .opciones {
  gap: 0px;
}

.filter-category .opciones a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 15px 16px;
  border-bottom: 1px solid var(--Bordes);
}

.filter-category .opciones img {
  transform: rotate(-90deg);
}

.filter-category .category.selected {
  background: var(--Amarillo-Golden);
}
.filter-category .category.selected img {
  opacity: 0;
}

/*--------------------------------------------------------------
## Sección de lista de productos
--------------------------------------------------------------*/
.sec-body .product-section {
  width: 950px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.sec-body .product-section .product-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  column-gap: 40px;
  row-gap: 45px;
}
/*--------------------------------------------------------------
## Sección de páginación
--------------------------------------------------------------*/
.sec-body .product-section .product-pagination {
  display: flex;
  gap: 10px;
}
.sec-body .product-section .product-pagination .page-numbers {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  border: 2px solid var(--Bordes, #C7C7C7);
}
.sec-body .product-section .product-pagination a.page-numbers:hover {
  background-color: var(--Bordes);
}
.sec-body .product-section .product-pagination .page-numbers.current {
  border-radius: 50px;
  background: var(--Amarillo-Golden, #F2D66E);
  border: none;
}
