/*--------------------------------------------------------------
## Sección Hero de la categoria
--------------------------------------------------------------*/
.sec-cat-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 160px;
}

.sec-body {
  display: flex;
  gap: 72px;
}

@media (max-width: 850px) {
  .sec-cat-hero {
    padding-top: 60px;
    padding-bottom: 110px;
  }
}

/*--------------------------------------------------------------
## Sección para filtros en moviles
--------------------------------------------------------------*/
.sec-filter-mobile {
  display: none;
  margin-bottom: 60px;
}

.sec-filter-mobile .filter {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
  padding: 15px;
  height: 60px;
  border-radius: 3px;
  border: 2px solid var(--Bordes, #C7C7C7);
  color: var(--Texto-Secundario);
}

@media (max-width: 850px) {
  .sec-filter-mobile {
    display: flex;
  }
}

/*--------------------------------------------------------------
## PopUp de filtros para mobiles
--------------------------------------------------------------*/
.mobile-popup-filter {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 50px 50px;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(3.5px);
  z-index: 100;
}
.mobile-popup-filter .content {
  background-color: var(--Fondo);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 77px;
  padding: 52px 48px 60px 48px;
  border-radius: 3px;
  width: 100%;
}
.mobile-popup-filter .content .filtros {
  display: flex;
  flex-wrap: wrap;
}
.mobile-popup-filter .content .filtros > div {
  flex-grow: 1;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.mobile-popup-filter .btn-primary {
  align-self: flex-end;
}

body.active-popup-filter .mobile-popup-filter {
  display: block;
}

@media (max-width: 430px) {
  .mobile-popup-filter {
    padding-left: 20px;
    padding-right: 20px;
  }  
  .mobile-popup-filter .content {
    row-gap: 37px;
    padding: 34px 30px 40px 30px;
  }
  .mobile-popup-filter .content .filtros {
    row-gap: 45px;
    column-gap: 30px;
  }
  .mobile-popup-filter .content .filtros > div {
    width: 120px;
  }
}

/*--------------------------------------------------------------
## Sección sidebar para filtros
--------------------------------------------------------------*/
.sec-body .sidebar {
  width: 258px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.sec-body .sidebar > div {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.opciones {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.custom-check {
  position: relative;
  width: 24px;
  height: 24px;
  background: var(--Fondo);
  border: 1px solid var(--Texto-Secundario);
  border-radius: 1px;
  cursor: pointer;
}

.custom-check input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.custom-check .icon-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: none;
}

.custom-check.checked {
  background-color: var(--Amarillo-Golden);
}
.custom-check.checked .icon-check {
  display: block;
}

.filter-category .opciones {
  gap: 0px;
}

.filter-category .opciones a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 15px 16px;
  border-bottom: 1px solid var(--Bordes);
}

.filter-category .opciones img {
  transform: rotate(-90deg);
}

.filter-category .category.selected {
  background: var(--Amarillo-Golden);
}
.filter-category .category.selected img {
  opacity: 0;
}

@media (max-width: 850px) {
  .sec-body .sidebar {
    display: none;
  }
}

/*--------------------------------------------------------------
## Sección de lista de productos
--------------------------------------------------------------*/
.sec-body .product-section {
  width: 950px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.sec-body .product-section .product-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 45px;
}

@media (max-width: 850px) {
  .sec-body .product-section .product-list {
    column-gap: 40px;
    row-gap: 35px;
  }
  
  .sec-body .product-section .product-list .card-product {
    flex: 1;
    max-width: 300px;
  }
}

@media (max-width: 430px) {
  .sec-body .product-section .product-list .card-product {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
## Sección de páginación
--------------------------------------------------------------*/
.sec-body .product-section .product-pagination {
  display: flex;
  gap: 10px;
}
.sec-body .product-section .product-pagination .page-numbers {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  border: 2px solid var(--Bordes, #C7C7C7);
}
.sec-body .product-section .product-pagination a.page-numbers:hover {
  background-color: var(--Bordes);
}
.sec-body .product-section .product-pagination .page-numbers.current {
  border-radius: 50px;
  background: var(--Amarillo-Golden, #F2D66E);
  border: none;
}
