/* Cargar Fahkwang: Bold(700) */
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@700&display=swap');
/* Cargar DMSans: Regular(400), Bold(700) */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');


/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

:root {
  --Fondo: #F1EEEA;
  --Texto-Principal: #000000;
  --Texto-Secundario: #4A4A4A;
  --Bordes: #C7C7C7;
  --Bordes-Marcados: #AFAFAF;
  --Amarillo-Golden: #F4CF49;
  --Amarillo-Hover: #F2D66E;
  --Verde-Claro: #B0D0A1;
  --Marron-Claro: #C3BB91;
  --Fondo-Banner: #1B1B1B;
}

::-moz-selection { /* Code for Firefox */
  background: #87c66a94;
}

::selection {
  background: #87c66a94;
}

body {
  background-color: var(--Fondo);
}

a {
  text-decoration: none;
  color: var(--Texto-Principal);
}
li {
  list-style: none;
}
hr {
  background: var(--Bordes);
  height: 1px;
  border: 0;
}


/*--------------------------------------------------------------
## Textos predefinidos
--------------------------------------------------------------*/
.desktop-h1 {
  color: var(--Texto-Principal);
  font-family: 'Fahkwang', sans-serif;
  font-size: 57px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
.desktop-h2 {
  color: var(--Texto-Principal);
  font-family: 'Fahkwang', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.desktop-parrafo-grande {
  color: var(--Texto-Principal);
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.desktop-parrafo {
  color: var(--Texto-Principal);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.desktop-parrafo-bold {
  color: var(--Texto-Principal);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.desktop-span {
  color: var(--Text-Principal);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}


/*--------------------------------------------------------------
## Botones
--------------------------------------------------------------*/
.btn-primary {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 16px 30px;
  background-color: var(--Amarillo-Golden);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease-in-out;
  text-transform: uppercase;
  user-select: none;
}
.btn-primary:hover {
  background-color: var(--Amarillo-Hover);
}


/*--------------------------------------------------------------
## Estructura para secciones (parte de ella esta en el .php)
--------------------------------------------------------------*/
.wrap-grande {
  position: relative; 
  max-width: 1700px; /* Pantallas ligeramente mas grandes */
  margin: auto;
}

.wrap-container {
  max-width: 1440px; /* Max-width del figma */
  padding: 0 80px;
  margin: auto;
}


/*--------------------------------------------------------------
## Navegación Principal
--------------------------------------------------------------*/

.nav-desktop {
  border-bottom: 1px solid var(--Bordes-Marcados);
  background: var(--Fondo);
  backdrop-filter: blur(10.5px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-desktop .wrap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-desktop .main-menu {
  display: flex;
  gap: 45px;
  list-style: none;
}

.nav-desktop .main-menu a {
  text-transform: uppercase;
  padding: 27px 0 27px 0;
}
.nav-desktop .nav-actions {
  display: flex;
  gap: 35px;
}
.nav-desktop .nav-actions .action-cart {
  position: relative;
}
.nav-desktop .nav-actions .action-cart .num-items {
  /* Position */
  position: absolute;
  right: -6px;
  top: -8px;
  /* Layout */
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  /* Style */
  background-color: var(--Amarillo-Golden);
  border-radius: 26px;
}

.nav-desktop .main-menu li {
  transition: all 1s ease-in-out;
}

.nav-desktop .main-menu li>a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-desktop .main-menu li svg {
  transition: transform 0.25s ease-in-out;
}

.nav-desktop .main-menu li:hover svg {
  transform: rotate(180deg);
}

.nav-desktop .sub-menu {
  position: absolute;
  display: none;
  padding: 0 30px;
  background-color: var(--Fondo);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-desktop .main-menu li:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

/*--------------------------------------------------------------
## Footer general
--------------------------------------------------------------*/
.sec-footer {
  display: flex;
  gap: 40px;
  padding-top: 97px;
  padding-bottom: 97px;
}
.sec-footer .col {
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.sec-footer .col ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec-copyright {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 28px;
}
footer.wrap-grande {
  margin-top: 160px;
}

/*--------------------------------------------------------------
## Sección de Trazabilidad (parte de ella esta en el .php)
--------------------------------------------------------------*/
.sec-trazabilidad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 99px;
}

.sec-trazabilidad .cta {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

.sec-trazabilidad .cta h2 {
  width: 840px;
  text-align: center;
}
