/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

:root {
  /* Tokens antiguos no especificos */
  --Fondo: #F1EEEA;
  --Texto-Principal: #000000;
  --Texto-Secundario: #4A4A4A;
  --Bordes: #C7C7C7;
  --Bordes-Marcados: #AFAFAF;
  --Amarillo-Golden: #F4CF49;
  --Amarillo-Hover: #F2D66E;
  --Verde-Claro: #B0D0A1;
  --Marron-Claro: #C3BB91;
  --Fondo-Banner: #1B1B1B;

  /* Color Tokens: Primitivos */
  --yellow-100: #F2D66E;
  --yellow-200: #F3CF49;
  --green-100: #B0D0A1;
  --brown-50: #F1EEEA;
  --brown-200: #C3BB91;
  --neutral-50: #C7C7C7;
  --neutral-100: #AFAFAF;
  --neutral-200: #494949;
  --neutral-300: #1B1B1B;
  --neutral-400: #000000;

  /* Color Tokens: Especificos */
  --color-bg-button-default: var(--yellow-200);
  --color-bg-button-hover: var(--yellow-100);
  --color-bg-button-success: var(--green-100);
  --color-text-button: var(--neutral-400);
  --color-bg-page: var(--brown-50);
  --color-bg-badge: var(--yellow-200);
  --color-stroke-icon: var(--neutral-400);
  --color-stroke-form-primary: var(--neutral-100);
  --color-stroke-form-secondary: var(--neutral-50);
  --color-bg-card-default: var(--green-100);
  --color-bg-section: var(--neutral-300);
  --color-text-primary: var(--neutral-400);
  --color-text-secondary: var(--neutral-200);
  --color-text-primary-dark: var(--brown-50);
  --color-text-secondary-dark: var(--neutral-50);

  /* Spacing Tokens: Primitivos (base 4) */
  --spacing-20: 80px;
  --spacing-12: 48px;
  --spacing-5: 20px;

  /* Spacing Tokens: Especificos */
  --padding-desktop: var(--spacing-20);
  --padding-tablet: var(--spacing-12);
  --padding-phone: var(--spacing-5);

}

::-moz-selection { /* Code for Firefox */
  background: #87c66a94;
}

::selection {
  background: #87c66a94;
}

body {
  background-color: var(--Fondo);
}

a {
  text-decoration: none;
  color: var(--Texto-Principal);
}
li {
  list-style: none;
}
hr {
  background: var(--Bordes);
  height: 1px;
  border: 0;
}

input, select, textarea {
  padding: 0.5em;
  border: 1px solid var(--Bordes-Marcados);
  border-radius: 3px;
  outline: none;
}

.loader {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
## Textos predefinidos
--------------------------------------------------------------*/
.desktop-h1 {
  color: var(--Texto-Principal);
  font-family: 'Fahkwang', sans-serif;
  font-size: 57px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
.desktop-h2 {
  color: var(--Texto-Principal);
  font-family: 'Fahkwang', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.desktop-parrafo-grande {
  color: var(--Texto-Principal);
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.desktop-parrafo {
  color: var(--Texto-Principal);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.desktop-parrafo-bold {
  color: var(--Texto-Principal);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.desktop-span {
  color: var(--Text-Principal);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

/* Estilos para tableta */
@media (max-width: 850px) {
  .desktop-h1 {
    font-size: 38px;
  }
  .desktop-h2 {
    font-size: 27px;
  }
  .desktop-parrafo {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .desktop-h1 {
    font-size: 27px;
  }
  .desktop-h2 {
    font-size: 20px;
  }
  .desktop-parrafo-grande {
    font-size: 15px;
  }
  .desktop-parrafo {
    font-size: 15px;
  }
}


/*--------------------------------------------------------------
## Botones
--------------------------------------------------------------*/
.btn-primary {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 16px 30px;
  background-color: var(--Amarillo-Golden);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease-in-out;
  text-transform: uppercase;
  user-select: none;
}
.btn-primary:hover {
  background-color: var(--Amarillo-Hover);
}


/*--------------------------------------------------------------
## Estructura para secciones (parte de ella esta en el .php)
--------------------------------------------------------------*/
.wrap-grande {
  position: relative; 
  max-width: 1700px; /* Pantallas ligeramente mas grandes */
  margin: auto;
}

.wrap-container {
  max-width: 1440px; /* Max-width del figma */
  padding: 0 var(--padding-desktop);
  margin: auto;
}

.woocommerce {
  margin-top: 60px;
}

@media(max-width: 850px) {
  .wrap-container {
    padding: 0 var(--padding-tablet);
  }
  .icon30 {
    width: 25px;
  }
}
@media(max-width: 430px) {
  .wrap-container {
    padding: 0 var(--padding-phone);
  }
}

/*--------------------------------------------------------------
## Navegación Principal
--------------------------------------------------------------*/

.nav-desktop {
  border-bottom: 1px solid var(--Bordes-Marcados);
  background: var(--Fondo);
  backdrop-filter: blur(10.5px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-desktop .wrap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-desktop .main-menu {
  display: flex;
  gap: 45px;
  list-style: none;
}

.nav-desktop .main-menu a {
  text-transform: uppercase;
  padding: 27px 0 27px 0;
}

.nav-desktop .main-menu li {
  transition: all 1s ease-in-out;
}

.nav-desktop .main-menu li>a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-desktop .main-menu li svg {
  transition: transform 0.25s ease-in-out;
}

.nav-desktop .main-menu li:hover svg {
  transform: rotate(180deg);
}

.nav-desktop .main-menu .sub-menu {
  position: absolute;
  display: none;
  padding: 0 30px;
  background-color: var(--Fondo);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-desktop .main-menu li:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

.nav-desktop .nav-actions {
  display: flex;
  column-gap: 35px;
}
.nav-desktop .nav-actions .action-cart {
  position: relative;
}
.nav-desktop .nav-actions .action-cart .num-items {
  /* Position */
  position: absolute;
  right: -6px;
  top: -8px;
  /* Layout */
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  /* Style */
  background-color: var(--Amarillo-Golden);
  border-radius: 26px;
}

.nav-desktop .icon-menu-hamburger {
  display: none;
}

@media (max-width: 850px) {
  .nav-desktop .wrap-container {
    height: 60px;
  }
  .nav-desktop .main-menu {
    display: none;
  }
  .nav-desktop .wrap-container {
    position: relative;
  }
  .nav-desktop .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  .nav-desktop .logo img {
    height: 35px;
  }
  .nav-desktop .icon-menu-hamburger {
    display: flex;
    align-items: center;
  }
  .nav-desktop .nav-actions {
    column-gap: 25px;
  }
  .nav-desktop .nav-actions a {
    display: flex;
    align-items: center;
  }
}

/*--------------------------------------------------------------
## Navegación Popup
--------------------------------------------------------------*/
body.active-mobile-menu .nav-movil {
  display: block;
}

.nav-movil {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(3.5px);
  z-index: 11;
  display: none;
}
.nav-movil .content {
  display: flex;
  width: 438px;
  height: 100vh;
  padding-block: 17px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  gap: 35px;
  background: var(--Fondo, #F1EEEA);
}
.nav-movil .content #popup-menu {
  width: 100%;
}
.nav-movil .content #popup-menu > li {
  border-bottom: 1px solid var(--Bordes-Marcados, #AFAFAF);
}
.nav-movil .content #popup-menu a {
  display: flex;
  padding-block: 20px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.nav-movil .content #popup-menu svg {
  transition: transform 0.25s ease-in;
}
.nav-movil .content #popup-menu .menu-item-has-children.active svg {
  transform: rotate(180deg);
}
.nav-movil .content #popup-menu .sub-menu {
  height: 0px;
  overflow-y: hidden;
  transition: height 0.25s ease-in;
}
.nav-movil .content #popup-menu .sub-menu a {
  padding-left: 45px;
}
.nav-movil .content #popup-menu .sub-menu span {
  color: var(--Texto-Secundario);
}

@media (max-width: 430px) {
  .nav-movil .content {
    width: 295px;
  }
  .nav-movil .content #popup-menu .sub-menu a {
    padding-left: 35px;
  }
}

/*--------------------------------------------------------------
## Footer general
--------------------------------------------------------------*/
.sec-footer {
  display: flex;
  gap: 40px;
  padding-top: 97px;
  padding-bottom: 97px;
}
.sec-footer .col {
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.sec-footer .col ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec-copyright {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid var(--Bordes-Marcados, #AFAFAF);
}
footer.wrap-grande {
  margin-top: 160px;
  border-top: 1px solid var(--Bordes-Marcados, #AFAFAF);
}

@media (max-width: 850px) {
  .sec-footer {
    flex-wrap: wrap;
    row-gap: 51px;
  }
  footer.wrap-grande {
    margin-top: 110px;
  }
}
@media (max-width: 430px) {
  footer.wrap-grande {
    margin-top: 90px;
  }
  .sec-copyright span {
    font-size: 10px;
  }
}

/*--------------------------------------------------------------
## Sección de Banner (parte de ella esta en el .php)
--------------------------------------------------------------*/
.sec-banner-oscuro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 99px;
  min-height: 670px;
}

.sec-banner-oscuro .cta {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  align-items: center;
  width: 840px;
}

.sec-banner-oscuro .cta h2 {
  text-align: center;
}

.sec-banner-oscuro img {
  width: 970px;
}

@media (max-width: 850px) {
  .sec-banner-oscuro {
    padding-left: 50px;
    padding-right: 50px;
    min-height: 520px;
  }
  .sec-banner-oscuro .cta {
    width: 620px;
  }
  .sec-banner-oscuro img {
    width: 100%;
  }
  .sec-banner-oscuro {
    min-height: 520px;
  }
}

@media (max-width: 430px) {
  .sec-banner-oscuro {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 460px;
  }
  .sec-banner-oscuro .cta {
    width: 100%;
    padding: 0 20px;
  }
}
