/*--------------------------------------------------------------
## Sección de preguntas frecuentes
--------------------------------------------------------------*/
.sec-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 89px;
  max-width: 840px;
  padding-top: 150px;
  padding-bottom: 160px;
  margin: auto;
}

.sec-faq .faqs .faq>div {
  display: flex;
  padding: 25px 0px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sec-faq .faqs .faq>div svg {
  transition: transform 0.25s ease-in;
}

.sec-faq .faqs .faq>p {
  height: 0px;
  overflow-y: hidden;
  transition: height 0.25s ease-in;
  border-bottom: 1px solid var(--Bordes-Marcados);
}

/* Cuando esta activo */
.sec-faq .faqs .faq.active>div svg {
  transform: rotate(180deg);
}

@media (max-width: 850px) {
  .sec-faq {
    padding-top: 110px;
    padding-bottom: 110px;
    gap: 60px;
  }
}

@media (max-width: 430px) {
  .sec-faq {
    padding-top: 90px;
    padding-bottom: 90px;
    gap: 34px;
  }
}
